*{ margin: 0;} 
body
{
    background-color: ghostwhite;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    margin: 0;
}

/*header*/
.container
{
    margin: auto;
    width: 1200px;
}

.header img
{
    height: 325px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/*start navbar*/

#cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  width: auto;
}

#cssmenu .logo img {
  float: left;
  width: 130px;
  height: 45px;
}

#cssmenu ul,
#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#cssmenu ul {
  position: relative;
  z-index: 597;
}

#cssmenu ul li {
  float: right;
  min-height: 1px;
  vertical-align:middle;
}

#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}

#cssmenu ul ul li {
  float: none;
}

#cssmenu ul ul ul {
  top: 0px;
  right: 150px;
  width: 150px;
}

#cssmenu ul li:hover > ul {
  visibility: visible;
}

#cssmenu ul ul {
  bottom: 0;
  left: 0;
}

#cssmenu ul ul {
  margin-top: 0;
}

#cssmenu ul ul li {
  font-weight: normal;
}

#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}

#cssmenu {
  background: #333333;
  border-bottom: 4px solid red;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 12px;
}

#cssmenu > ul {
  *display: inline-block;
}

#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}


#cssmenu ul ul {
  border-top: 4px solid red;
  text-transform: none;
  min-width: 150px;
}

#cssmenu ul ul a {
  background: red;
  color: #ffffff;
  border: 1px solid red;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 20px;
  font-size: 12px;
}

#cssmenu ul ul ul {
  border-top: 0 none;
}

#cssmenu ul ul li {
  position: relative;
}
#cssmenu ul ul li:first-child > a {
  border-top: 1px solid red;
}

#cssmenu ul ul li:hover > a {
  background: red;
  color: #ffffff;
}


#cssmenu ul ul li.has-sub > a:after

{
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}

#cssmenu ul li:hover > a,
#cssmenu ul li.active > a

{
  background: red;
  color: #ffffff;
}

#cssmenu ul li.has-sub > a:after 
{
  content: '+';
  margin-left: 10px;
}

#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}
#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#cssmenu a {
  background: #333333;
  color: #CBCBCB;
  padding: 0 20px;
}
#cssmenu > ul > li > a {
  line-height: 48px;
  font-size: 12px;
}


/*end navbar*/

body 
{
font-family:Arial, Helvetica, sans-serif;
background-color:whitesmoke;
font-size:11px;
}



/* sections Css */


.hisroty
{
    
    overflow: hidden;
}
.history .text
{
    margin-top:55px;
    margin-bottom: 55px;
	width:55%;
	float:right;
    margin-right: 25px;
	
}

.history .text h2

{
	float:right;
	margin: 55px;
    font-size: 35px;
    color:black;
    text-shadow:-1px 0px 16px #e01010;

    
}
.history .text p
{
    color: red;
    font-size: 20px;
    direction: rtl;
	
}

.hisory .image{
    overflow: hidden;
	float:right;
	width:40%;
    
}
.history .image img{
	margin-top: 55px;
    margin-left: 25px;
    width:35%;
    height:600px;
	border-radius:10%;
}



.nashed{
    overflow: hidden;
width: 90%; margin-left: 120px;}

.mainvid{
    
    width: 1000px;
    float: left;
    margin: 22px;
    margin-right: 150px;
    border:outset 5px #fa1212;
    border-radius: 12px;
    box-shadow:inset 1px 3px 75px #ed1313;
    overflow: hidden;

}

 




/* greate */

.first-slider{
    background-color: ghostwhite;
    overflow:hidden;
}
input{display: none}
#slider
{
    width: 1000px;
    height: 400px;
    position: relative;
    margin: auto;
    box-shadow: 0px 0px 4px 1px;
    margin-bottom: 20px;
    margin-top: 20px;
}
#slider div
{
    width: 100%;
    height: 400px;
    position: absolute;
    top: 0;
    opacity: 0;
    z-index: 0;
    transition: 2s;
    right: -100%;
}
#slider div img
{
    position: absolute;
    bottom: 0;
}

#slider-btns
{
    text-align: center;
}
#slider-btns label
{
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}
#slide-1-radio:checked~#slider #slide-1
{
    opacity: 1;
    z-index: 1;
    right: 0;
}
#slide-1-radio:checked~#slider-btns #slide-1-btn
{
    background-color: #000;
}

#slide-2-radio:checked~#slider #slide-2
{
    opacity: 1;
    z-index: 1;
    right: 0;
}
#slide-2-radio:checked~#slider-btns #slide-2-btn
{
    background-color: #000;
}

#slide-3-radio:checked~#slider #slide-3{
    opacity: 1;
    z-index: 1;
    right: 0;
}
#slide-3-radio:checked~#slider-btns #slide-3-btn{
    background-color: #000;
}
#slide-4-radio:checked~#slider #slide-4{
    opacity: 1;
    z-index: 1;
    right: 0;
}
#slide-4-radio:checked~#slider-btns #slide-4-btn{
    background-color: #000;
}
#slide-5-radio:checked~#slider #slide-5{
    opacity: 1;
    z-index: 1;
    right: 0;
}
#slide-5-radio:checked~#slider-btns #slide-5-btn{
    background-color: #000;
}
#slide-6-radio:checked~#slider #slide-6{
    opacity: 1;
    z-index: 1;
    right: 0;
}
#slide-6-radio:checked~#slider-btns #slide-6-btn{
    background-color: #000;
}
#slide-7-radio:checked~#slider #slide-7{
    opacity: 1;
    z-index: 1;
    right: 0;
}
#slide-7-radio:checked~#slider-btns #slide-7-btn{
    background-color: #000;
}



/*end greats*/

/*prisedfent*/

#mainwrapper {
	font: 10pt normal Arial, sans-serif;
	height: auto;
	margin: 80px auto 0 auto;
	text-align: center;
	width: 660px;
   overflow: hidden;
}

#mainwrapper .box {
	border: 5px solid #fff;
	cursor: pointer;
	height: 182px;
	float: left;
	margin: 5px;
	position: relative;
	overflow: hidden;
	width: 200px;
    box-shadow: 1px 1px 1px 1px #ccc;
}
#mainwrapper .box img {
	width: 200px;
    height: 182px;
	position: absolute;
	left: 0;	
	transition: all 300ms ease-out;
}

#mainwrapper .box .caption {
	background-color: rgba(0,0,0,0.8);
	position: absolute;
	color: #fff;
	z-index: 100;
    transition: all 300ms ease-out;
	left: 0;
}



#mainwrapper .box .full-caption {
	width: 170px;
	height: 170px;	
	top: -200px;
	text-align: right;
	padding: 15px;
    direction: rtl;
}


#mainwrapper .box:hover .full-caption 
{
	opacity: 1;
	transform: translateY(100%);
}



/* end prisedints */



/* start footer Css */

.footer{
    
    margin:20px 0px 0px 0px;
	background:#333333;
	padding:20px 0;
	text-align:center;
	color:#FFF;
    font-weight: bolder;
    font-size: 15px;
    
}

/* end footer Css */