*{margin: 0}
body{
    margin: 0;font-family: 'GE SS Two','GE Dinar One',Arial,Tahoma;
    background-attachment: fixed;
    background-color: #ecf0f1;
}
.clear {clear: both}
a{text-decoration: none}

/*header*/

.container
{
    margin: auto;
    width: 1200px;
}

.header img
{
    height: 325px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-size: cover;
}

/*start navbar*/

#cssmenu {
  padding: 0;
  margin-top: -7px;
  border: 0;
  width: auto;
}

#cssmenu .logo img {
  float: left;
  width: 130px;
  height: 45px;
}

#cssmenu ul,
#cssmenu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#cssmenu ul {
  position: relative;
  z-index: 597;
}

#cssmenu ul li {
  float: right;
  min-height: 1px;
  vertical-align:middle;
}

#cssmenu ul li.hover,
#cssmenu ul li:hover {
  position: relative;
  z-index: 599;
  cursor: default;
}

#cssmenu ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 598;
  width: 100%;
}
#cssmenu ul ul li {
  float: none;
}

#cssmenu ul ul ul {
  top: 0px;
  right: 150px;
  width: 150px;
}

#cssmenu ul li:hover > ul {
  visibility: visible;
}

#cssmenu ul ul {
  bottom: 0;
  left: 0;
}

#cssmenu ul ul {
  margin-top: 0;
}

#cssmenu ul ul li {
  font-weight: normal;
}

#cssmenu a {
  display: block;
  line-height: 1em;
  text-decoration: none;
}

#cssmenu {
  background: #333333;
  border-bottom: 4px solid red;
  font-family: 'Oxygen Mono', Tahoma, Arial, sans-serif;
  font-size: 12px;
}

#cssmenu > ul {
  *display: inline-block;
}

#cssmenu:after,
#cssmenu ul:after {
  content: '';
  display: block;
  clear: both;
}


#cssmenu ul ul {
  border-top: 4px solid red;
  text-transform: none;
  min-width: 150px;
}

#cssmenu ul ul a {
  background: red;
  color: #ffffff;
  border: 1px solid red;
  border-top: 0 none;
  line-height: 150%;
  padding: 16px 20px;
  font-size: 12px;
}

#cssmenu ul ul ul {
  border-top: 0 none;
}

#cssmenu ul ul li {
  position: relative;
}
#cssmenu ul ul li:first-child > a {
  border-top: 1px solid red;
}

#cssmenu ul ul li:hover > a {
  background: #222;
  color: #ffffff;
}

#cssmenu ul ul li.has-sub > a:after

{
  content: '+';
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -8px;
}

#cssmenu ul li:hover > a,
#cssmenu ul li.active > a

{
  background: red;
  color: #ffffff;
}

#cssmenu ul li.has-sub > a:after 
{
  content: '+';
  margin-left: 10px;
}

#cssmenu ul li.last ul {
  left: auto;
  right: 0;
}
#cssmenu ul li.last ul ul {
  left: auto;
  right: 99.5%;
}
#cssmenu a {
  background: #333333;
  color: #CBCBCB;
  padding: 0 20px;
}
#cssmenu > ul > li > a {
  line-height: 48px;
  font-size: 12px;
}


/*end navbar*/

/*Embassies*/
.s1 
{
    width: 100%;
    overflow: auto;
}
.s1 .m1
{
    width:300px;
    float: right;
    position: relative;
    margin:15px;
    cursor: pointer;
}
.s1 .m1 img
{
    width: 120px;
    height: 90px;
    float: right;
    margin-left: 5px;
    transition: all 1.4s ease-in-out;
}
.s1 .m1 img:hover
{
    width: 100%;
    height: 100%;
}
.s1 .m1 h1,p
{
    direction: rtl;
}

/*slider*/
.s2
{
    width: 100%;
    padding-bottom: 15px;
    background-color:#a3b1b2;
    overflow: auto;
}
.Ministries
{
    text-align: center;
    font-family: 'GE Dinar One',Arial;
}
.Ministries img { margin: 10px;}
.slider
{
    margin: auto;
    width: 900px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0px 0px 7px 1px; 
}
.slider ul
{
    list-style: none;
    width: 6300px;
    padding: 0;
    position: relative;
    animation: sliding 20s ease-in-out infinite;
}
.slider ul:hover
{
    animation-play-state: paused;
}
.slider a img:hover{opacity: .3}
.slider ul li{float: left;position: relative}
.slider h2
{
    background: #777;
    padding: 15px;
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
}
@keyframes sliding
{
    10%,20%{left: 0}
    25%,30%{left:-900px}
    35%,40%{left: -1800px}
    45%,50%{left: -2700px}
    55%,60%{left: -3600px}
    65%,70%{left: -4500px}
    75%,80%{left: -5400px}
}

/*Ministries*/
.names p
{
    text-align: center;
    padding: 15px;
    font-size: 17px;
    line-height: 2
}
.names span{font-size: 30px;color:#333}
.minisn{margin: auto}
.names ul
{
    list-style: none;
    float: right;
    direction: rtl;
    margin: 20px;
    margin-right: 40px;
}
.names ul li
{
    padding-bottom: 10px;
}
.names ul li a
{
    color: blue;
}
.names ul li a:hover
{
    color: #fff;
}

/* start footer Css */

.footer{
    
	background:#333333;
	padding:20px 0;
	text-align:center;
	color:#FFF;
    font-weight: bolder;
    font-size: 15px;
    
}

/* end footer Css */

/*audio*/
.audio
{
    text-align: center;
    padding: 15px;
}